{% extends 'Lab-assistant/labindex.html' %}
{% block body %}

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="200" border="1">
    <tr>
      <td><a href="view_students">View student</a></td>
    </tr>
    <tr>
      <td><a href="view_sub_staff_allocation">View staff lab allocation</a></td>
    </tr>
    <tr>
      <td><a href="mngsystems">Manage systems in lab</a></td>
    </tr>
    <tr>
      <td><a href="viewexam">View Exam</a></td>
    </tr>
    <tr>
      <td><a href="system_stud_allocation">Student system allocation </a></td>
    </tr>
    <tr>
      <td><a href="/">Logoout</a></td>
    </tr>
  </table>
</form>
</body>
</html>
{% endblock %}
