{% extends 'Admin/adminindex.html' %}
{% block body %}

<body>
<form id="form1" name="form1" method="post" action="{% url 'editsub_staff_action' %}">
  <table width="200" border="1" class="table table-dark table-striped">
  <tr align="center">
        <td colspan="11"><h1><b>EDIT SUBJECT STAFF ALLOCATION</b></h1>
        </td>
    </tr>
    <tr>
      <td>Staff</td>
      <td><label>
        <select name="select" class="btn btn-light" style="width:210px;">
             {% for i in val1 %}
            <option value="{{ i.id }}" {% if va.STAFF.id == i.id  %}selected{% endif %}>{{ i.name }}</option>
            {% endfor %}
        </select>
      </label></td>
    </tr>
    <tr>
      <td>Lab subject </td>
      <td><label>
        <select name="select2" class="btn btn-light" style="width:210px;">
             {% for i in val %}
            <option value="{{ i.id }}" {% if va.SUBJECT.id == i.id  %}selected{% endif %}>{{ i.subject }}</option>
            {% endfor %}
        </select>
      </label></td>
    </tr>
{#    <tr>#}
{#      <td>Day</td>#}
{#      <td><label>#}
{#        <select name="select3">#}
{#            <option>Monday</option>#}
{#            <option>Tuesday</option>#}
{#            <option>Wednesday</option>#}
{#            <option>Thursday</option>#}
{#            <option>Friday</option>#}
{##}
{##}
{#        </select>#}
{#      </label></td>#}
{#    </tr>#}
{#    <tr>#}
{#      <td>Hour</td>#}
{#      <td><label>#}
{#        <select name="select4">#}
{#            <option>1st Period</option>#}
{#            <option>2nd Period</option>#}
{#            <option>3rd Period</option>#}
{#            <option>4th Period</option>#}
{#            <option>5th Period</option>#}
{#            <option>6th Period</option>#}
{#        </select>#}
{#      </label></td>#}
{#    </tr>#}
    <tr>
      <td colspan="2">
        <div align="center">
          <input type="submit" name="Submit" value="Save" class="btn btn-secondary" />
          </div>
      </td>
    </tr>
  </table>
</form>
</body>
{% endblock %}

