{% extends 'Admin/adminindex.html' %}
{% block body %}


<body>
<form id="form1" name="form1" method="post" action="">
{#  <table width="200" border="1" class="table table-dark table-striped">#}
{#    <tr>#}
{#      <td><a href="mngdept">Manage Department</a></td>#}
{#    </tr>#}
{#    <tr>#}
{#      <td><a href="mngcourse">Manage Course</a></td>#}
{#    </tr>#}
{#    <tr>#}
{#      <td><a href="mnglabsubj">Manage Labsubject</a></td>#}
{#    </tr>#}
{#    <tr>#}
{#      <td><a href="mngstaff">Manage Staff</a></td>#}
{#    </tr>#}
{#    <tr>#}
{#      <td><a href="mnglabassist">Manage Lab assistant</a></td>#}
{#    </tr>#}
{#    <tr>#}
{#      <td><a href="mngexam">Manage Exams</a></td>#}
{#    </tr>#}
{#    <tr>#}
{#      <td><a href="allocatesub_staff">Staff lab allocation</a></td>#}
{#    </tr>#}
{#    <tr>#}
{#      <td><a href="viewstud">View Students</a></td>#}
{#    </tr>#}
{#    <tr>#}
{#      <td><a href="viewsystem">View Systems</a></td>#}
{#    </tr>#}
{#    <tr>#}
{#      <td><a href="viewfeedback">View Student feedback</a></td>#}
{#    </tr>#}
{#    <tr>#}
{#      <td><a href="/">Logout</a></td>#}
{#    </tr>#}
{#  </table>#}
</form>
</body>
{% endblock %}

